{% extends 'base.html' %}
{% load static %}


{% block content %}


<!DOCTYPE html>
<html lang="pl">
<head>

     <title>O systemach BCI</title>
     <meta charset="UTF-8">

     <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
  <nav>

  </nav>

  <article>
    <h3>Architektura systemu BCI</h3>
  <p><center><img src="http://s5.ifotos.pl/img/heroc2f39_qeqsnpn.png" alt="Ups, niczego tu nie znaleziono" title="Architektura systemu BCI"></p>

<p><em>Źródło grafiki: <a href="https://www.futurelearn.com/courses/robotic-future/0/steps/26359">portal futurelearn.com</a></em></p>

  </article>
<footer>
  <p><strong>Tekst strony został zaczerpnięty z: brain.fuw.edu.pl oraz pl.lipsum.com</strong></p>
</footer>

</body>
</html>

{% endblock content %}
